// common

$color-main: #ebe5d2;

$color-background: $color-main;
$color-background-inner: lighten($color-background, 5%);

$color-font: darken($color-main, 50%);
$color-font-dark: darken($color-main, 70%);
$color-copyright: darken($color-main, 20%);


// grid, cells

$color-cell: #fff;
$color-cell-border: darken($color-main, 10%);

$color-cell-hover: green;
$color-cell-border-hover: darkgreen;

$color-cell-given: darken(#ebe5d2, 10%);
$color-cell-border-given: darken($color-cell-given, 20%);
