html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > header {
    padding: 1rem 0;
  }

  & > main {
    padding: 1rem 0;
    background: lighten($color-background, 10%);
  }

  & > footer {
    padding: 1rem 0;
  }
}

html {
  background-color: $color-background;
  color: $color-font;
  user-select: none;
}

.copyright {
  margin-top: 1rem;
  text-align: center;
  color: $color-copyright;
}
