html {
  background-color: $color-background;
  color: $color-font;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
}

header,
footer,
section.el-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
footer {
  padding: 2rem 0;
}

header {
  font-size: 3rem;
}

section.el-grid-select {
  margin: 2rem;
}
