.menu {
  display: flex;
  justify-content: center;

  button {
    background: none;
    border: 0;
    //padding: 1rem;

    &:hover {
	  @include interactive;
	  
	  svg {
		stroke: $color-font-dark;
	  }
    }

    svg {
      fill: none;
      stroke: $color-font;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.5;

      width: 6vmin;
      height: 6vmin;
      margin: 2vmin;

      @media (min-aspect-ratio: 7/10) {
        width: 3vmin;
        height: 3vmin;
        margin: 1vmin;
      }
    }
  }
}
